@import url(./reset.css);
@import url(./var.css);
.main {
    border: 25px solid var(--main-border-color);
    background-color: var(--main-bg-color);
    width: 100%;
}

.container {
    border: 2px solid var(--container-border-color);
    width: var(--width-container);
}